<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.kit.example">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidKit">

        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout|uiMode">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.StringUtilsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout|uiMode" />

        <activity
            android:name=".activity.GsonActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout|uiMode" />

        <activity
            android:name=".activity.EditTextActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout|uiMode"
            android:exported="false" />

        <activity
            android:name=".activity.SpannableStringUtilsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout|uiMode" />

    </application>

</manifest>